<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card bg-dark text-white text-center">
            <div class="card-header">
                <div class="card-body text-start">
                <h3 class="text-center">Contact me</h3>
                <form action="">
                    <label for="email">email</label>
                    <div class="mb-3">
                         <input type="email" placeholder="email">
                    </div>
                    
                    <div class="mb-3">
                        <label for="message">Mesaage</label>
                        <textarea name="message"  rows="3" class="form-control" placeholder="write a message"></textarea></div>
                    <button class="btn btn-primary btn-block">Guardar</button>
                </form>
               </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
    
</body>
</html>