<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>my first page</title>
</head>

<body>
   <%- include('partials/navigation') %>
   <header class="container  vh-100 d-flex justify-content-center align-items-center">
   <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="https://thumbs.dreamstime.com/b/good-vibes-vector-handwritten-lettering-print-t-shirt-110279913.jpg" alt="" class="w-25">
    <h1 class="display-3 my-5 text-uppercase fw-bold">Relax time</h1>
    <a href="/about" class="btn btn-primary w-25">About</a>
   </div>
   </header>
   <%- include('partials/footer') %>

</body>

</html>