
<Footer class="bg-dark text-center p-2 text-white">
    <p>Derechos reservados @Matias Skuarok</p>
</Footer>
<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>